<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="nhf.connection.provider"
         value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="nhf.connection.driver_class"
         value="NHibernate.Driver.MicrosoftDataSqlClientDriver" />
    <add key="nhf.dialect"
         value="NHibernate.Dialect.MsSql2012Dialect" />
    <add key="nhf.connection.connection_string.1"
         value="Server=.; Initial Catalog=test; Integrated Security=SSPI; TrustServerCertificate=true" />
    <add key="nhf.connection.connection_string.2"
         value="Server=.; Initial Catalog=test2; Integrated Security=SSPI; TrustServerCertificate=true" />
  </appSettings>

</configuration>
